<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<header th:include="blocks/header :: header(${user},'1')"></header>

<body>


<style>
    #content{
        margin-top: 100px;
        float: left;
        border:thick double #32a1ce;;
    }
</style>

<div id="content">
    <h4>Статус</h4>
    <p class="priority" th:text="${request.getStatus()}"></p>
    <h4>Крайний срок</h4>
    <p class="priority" th:text="${request.getDeadline()}"></p>
    <h4>Приоритет</h4>
    <p class="priority" th:text="${request.getPriority()}"></p>
    <h3>Описание</h3>
    <p th:text="${request.getDescription()}"></p>

    <div>
        <th:block  th:each="f: ${files} ">
            <img th:src="${'/img/' + f}" class="image" width="400pх" height = "400px">
        </th:block>
    </div>


</div>


</body>

</html>